.bodyIndex{
    background-color: black;
    font-family: $letra;
    header{
        h1{
            text-align: center;
            color: $color-1;
            font-size: 60px;
            padding-top: 25px;
            margin-bottom: 40px;
        }
        nav{
            .vinculosPrincipales{
                    ul{
                        display: flex;
                        list-style: none;
                        gap: 15px;
                        li{
                            text-decoration: none;
                            a{
                                @extend li ;
                                font-size: 18px;
                                font-family: $letra;
                                color: $color-1;
                            }
                        }
                    }
            }
        }

    }
}