.miClase{
    margin-left: 5%;
    margin-right: 5%;
    .divClassH2{
        margin-bottom: 15px;
        padding-left: 15px;
        .h2Registrate{
            text-align: left;
            font-size: 30px;
            font-family: $letra;
        }
    }
    .divParrafo{
        padding-left: 15px;
        color: 909090;
        text-align: left;
        font-family: $letra;
         margin-bottom: 30px;
    }
    form{
        .divNombre{
            display: flex;
            gap: 50px;
            .divNombre1{
                margin-bottom: 10px;
                margin-left: 15px;
                .inputNombre{
                    width: 100%;
                    height: 50px;
                }
            }
            .divNombre2{
                .inputNombre{
                    width: 100%;
                    height: 50px;
                }
            }
        }

        .divCorreoElectronico{
            margin-top: 40px;
            margin-left: 15px;
            .inputCorreoElectronico{
                width: 100%;
                height: 102px;
            }
        
        }
    }
    .divRegistrarse{
        text-align: center;
        font-size: medium;
        font-family: $letra;
        .parrafoRegistrarse{
            padding-top: 50px;
            }
        }
}