@media (max-width:621px) {
/* index.html */

nav{
    .vinculosPrincipales{
        width: 50%;
    }
}

/* nosycontacto.html */

div{
    .imgNos{
        width: 123%;
    }
}

.divStrong{
    padding-left: 100px;
}

.footerFinal{
    width: 123%;
}

/* tienda.html */

.footerFinal{
    width: 100%;
}


}