@media (max-width:650px) {
/* nosycontactohtml */

div{
    .imgNos{
        width: 117%;
    }
}

.footerFinal{
    width: 117%;
}

/* tienda.html */

.headerTienda{
    width: 100%;
}

.footerFinal{
    width: 100%;
}







}