@media (max-width:375px) {

    /*index.html */

    nav {
        .vinculosPrincipales {
            width: 85%;

            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    main {
        .divTienda {
            .anclaTienda {
                font-size: 35px;
            }
        }
    }

    footer {
        .porQueSneakers {
            font-size: 25px;
            margin-top: 80px;
            margin-bottom: 60px;
        }
    }

    /* sesion.html */

    main {
        form {
            .divFormulario {
                .inputUsername {
                    width: 70%;
                    height: 70px;
                    font-size: 15px;
                }
            }

            .divBoton {
                margin-top: 5px;
                padding-top: 5px;
            }
        }

        .divCuenta {
            padding-left: 20px;
            padding-right: 20px;
        }


    }

    /* tienda.html */
    .sectionFinal {
        div {
            .parrafoSneakers {
                font-size: 18px;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 0px;
            }
        }

        .divConocenos {
            .conocenosAncla {
                font-size: 20px;
            }
        }

    }

    .footerFinal {
        width: 100%;
    }

    /* registrate.html */

    main {
        form {
            .divNombre {
                .divNombre1 {
                    width: 40%;
                }
            }

            .divNombre2 {
                width: 40%;
            }
        }

        .divBoton {
            margin-top: 60px;
        }


    }

}