@media (max-width:320px) {
    /*index.html */

    nav {
        .vinculosPrincipales {
            width: 90%;

            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    main {
        .divImage {
            .imagenJordan {
                height: 300px;
            }
        }


    }

    footer {
        .porQueSneakers {
            font-size: 20px;
            margin-top: 80px;
            margin-bottom: 50px;
            padding-right: 5px;
            padding-left: 5px;
        }

    }



    /* sesion.html */

    header {
        .h1Sesion {
            padding-right: 20px;
            padding-left: 20px;
        }

        .divInicio {
            ul {
                .liAnclas {
                    a {
                        .imgTienda2Clase {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }

    }

    form {
        .divFormulario {
            .inputUsername {
                width: 100%;
            }
        }

        .divBoton {
            margin-top: 5px;
            padding-top: 5px;
        }
    }


    /* tienda.html */

    .titulo {
        .h1Tienda {
            font-size: 55px;
            text-align: center;
        }
    }

    .sectionFinal {
        div {
            .parrafoSneakers {
                font-size: 18px;
            }
        }

        .divConocenos {
            .conocenosAncla {
                font-size: 20px;
            }
        }
    }

    .hFinal {
        .h6Final {
            font-size: 55px;
        }
    }


    /* registrate.html */

    main {
        .divBoton {
            margin-top: 60px;
        }

    }

    /* nosycontactohtml */

    .sectionFinal {
        div {
            img {
                width: 20%;
            }
        }
    }

    .footerFinal {
        width: 100%;
    }

}