@media (max-width:720px) {

/* index.html */

nav{
    .vinculosPrincipales{
        width: 40%;
    }
}

/* nosycontacto.html */

div{
    .imgNos{
        width: 106%;
    }
}

.footerFinal{
    width: 106%;
}

}