@media (max-width:500px) {

/* index.html */
nav{
    .vinculosPrincipales{
        width: 55%; 
    }
}


/* nosycontactohtml */

.sectionFinal{
    .divStrong{
        padding-left: 150px;
    }
    div{
        .imgNos{
            width: 153%;
        }
    }
}

       
section{
    .divInput{
        .inputCorreoElectronico1{
            width: 130%;
        }
        .inputMensaje{
            width: 130%; 
            }
        }
        .divBotonazo{
            padding-left: 200px;
        }
    }


.footerFinal{
        width: 153%;
}


}