@media (max-width:500px) {

/* index.html */
nav{
    .vinculosPrincipales{
        width: 55%; 
    }
}


/* nosycontactohtml */

.sectionFinal{
    div{
        .imgNos{
            width: 153%;
        }
    }
}

       
.h2Contacto{
    text-align: center !important;
}

/* tienda.html */
.footerFinal{
    width: 100%;
}


}