@media (max-width:723px) {

/* index.html */

nav{
    .vinculosPrincipales{
        width: 40%;
    }
}

/* nosycontacto.html */

div{
    .imgNos{
        width: 106%;
    }
}


/* tienda.html */
.headerTienda{
    width: 100%;
}
.footerFinal{
    width: 100%;
}

}