@media (max-width:550px) {

/* nosycontactohtml */

div{
    .imgNos{
        width: 139%;
    }
}


.footerFinal{
    width: 139%;
}


section{
.divInput{
    .inputCorreoElectronico1{
        width: 130%;
    }
    .inputMensaje{
        width: 130%; 
        }
    }
    .divBotonazo{
        padding-left: 200px;
    }
}



}