@media (max-width:550px) {

/* nosycontactohtml */


section{
.divInput{
    .inputCorreoElectronico1{
        width: 130%;
    }
    .inputMensaje{
        width: 130%; 
        }
    }
}



/* tienda.html */
.footerFinal{
    width: 100%;
}

}