@media (max-width:500px) {

    /* index.html */
    nav {
        .vinculosPrincipales {
            width: 55%;
        }
    }


    /* nosycontactohtml */

    .h2ContactoDiv {
        .h2Contacto {
            text-align: center !important;
        }

    }


    /* tienda.html */
    body {
        .footerFinal {
            width: 100%;
        }

    }


}