@media (max-width:723px) {

    /* index.html */

    nav {
        .vinculosPrincipales {
            width: 40%;
        }
    }

    /* tienda.html */

    body {
        .headerTienda {
            width: 100%;
        }

        .footerFinal {
            width: 100%;
        }

    }

}