@media (max-width:451px) {

/* index.html */

nav{
    .vinculosPrincipales{
        width: 60%;
    }
}


/* nosycontactohtml */

div{
    .imgNos{
        width: 170%;
    }
}

.footerFinal{
    width: 170%;
}
/* tienda.html */
.footerFinal{
    width: 100%;
}

}

